<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<h1>Add User</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="POST">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="Text" class="form-control" name="username" id="username" th:value="${username}"/>
        <small class="form-text text-danger" th:text="${usernameError}"></small>
        <small class="form-text text-danger" th:text="${usernameNotAlpha}"></small>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" id="email" th:value="${email}"/>
        <small class="form-text text-danger" th:text="${emailEmpty}"></small>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password"/>
        <small class="form-text text-danger" th:text="${passwordMismatch}"></small>
        <small class="form-text text-danger" th:text="${passwordEmpty}"></small>
    </div>
    <div class="form-group">
        <label for="verify-password">Verify Password</label>
        <input type="password" class="form-control" name="verify" id="verify-password"/>
    </div>
    <input type="submit" class="btn btn-default" value="Sign Up"/>
</form>

</body>
</html>