<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<h1>Add User</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="POST" th:object="${user}">
    <div class="form-group">
        <label th:for="username">Username:</label>
        <input class="form-control" th:field="*{username}" th:value="${username}"/>
        <small class="form-text text-danger" th:errors="*{username}"></small>
        <small class="form-text text-danger" th:text="${usernameNotAlpha}"></small>
    </div>
    <div class="form-group">
        <label th:for="email">Email:</label>
        <input type="email" class="form-control" th:field="*{email}" th:value="${email}"/>
        <small class="form-text text-danger" th:errors="*{email}"></small>
    </div>
    <div class="form-group">
        <label th:for="password">Password:</label>
        <input type="password" class="form-control" th:field="*{password}"/>
        <small class="form-text text-danger" th:errors="*{password}"></small>
    </div>
    <div class="form-group">
        <label for="verify-password">Verify Password</label>
        <input type="password" class="form-control" name="verify" id="verify-password"/>
        <small class="form-text text-danger" th:text="${passwordMismatch}"></small>
    </div>
    <input type="submit" class="btn btn-default" value="Sign Up"/>
</form>

</body>
</html>